.simpleTable {
    border: solid black 2px;
}

.simpleTableTitle {
    border: solid black 1px;
    text-align: center;
    background: grey;
    font-size: 5px;
}

.simpleTableRow {
    border: solid black 5px;
    background: darkgray;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.simpleTableCell {
    border: solid black 2px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}